/* ==========================================================================
   Global styles
   ========================================================================== */
   h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small, .dropzone .dz-message  {
    font-family: 'Montserrat', sans-serif;
  }

  p, .lead {
   font-family: 'Raleway', sans-serif;
 }

 h1 {
  font-size: 55px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #231f20;
  font-weight: 700;
}

.lead {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
}

p {
  font-size: 17px;
  line-height: 22px;
  color: #929496;
  font-weight: 400;
}

/*------------------Utilities---------------------*/
a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: #231f20;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -10%;
}

::selection {
	background: #231f20; /* Safari */
	color: #FFFFFF;
}
::-moz-selection {
	background: #231f20; /* Firefox */
	color: #FFFFFF;
}


/*------------------Buttons---------------------*/
.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline: none;
}

.btn {
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.btn-lg {
  font-size: 13px;
  line-height: 1.33;
  padding: 22px 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-sm {
  font-size: 11px;
  line-height: 1.33;
  padding: 10px 18px;
  font-weight: 400;
}

.btn-wide {
  width: 100%;
  font-size: 13px;
  line-height: 1.33;
  padding: 18px 28px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-primary {
  /*background-color:#70cbce;*/
  background-color: #55CCFC;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  /*background-color: #8be2e5;*/
  background-color: #87DBFD;
  color: #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.btn-secondary {
  background-color: #ffffff;
  color: #231f20;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
  background-color: #ededed;
  color: #231f20;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}




/*-----------------Margins------------------*/
.margin-0 {
  margin-bottom: 0 !important;
}
.margin-10 {
  margin-bottom: 10px !important;
}
.margin-15 {
  margin-bottom: 15px !important;
}
.margin-20 {
  margin-bottom: 20px !important;
}
.margin-30 {
  margin-bottom: 30px !important;
}
.margin-40 {
  margin-bottom: 40px !important;
}
.margin-50 {
  margin-bottom: 50px !important;
}
.margin-60 {
  margin-bottom: 60px !important;
}
.margin-70 {
  margin-bottom: 70px !important;
}
.margin-80 {
  margin-bottom: 80px !important;
}
.margin-90 {
  margin-bottom: 90px !important;
}
.margin-100 {
  margin-bottom: 100px !important;
}

/*-----------------Colors------------------*/

.black {
  color: #231f20;
}

.blue {
  color: #70cbce;
}

.white {
  color: #ffffff;
}

.black-bg {
  background: #231f20;
}

.blue-bg {
  background: #70cbce;
}

.white-bg {
  background: #ffffff;
}

.purple-bg {
	background: #6d3f96;
}



/* ==========================================================================
   Nav Styles
   ========================================================================== */

   .navbar {
    border: 0px solid rgba(0, 0, 0, 0);
    /*background: #70cbce;
    background-color: #55CCFC;
    border-bottom: 1px solid #fff;
    */
    margin: auto;
    min-height: 60px;
    padding-top: 8px;
    position: fixed;
    top: -60px;
    transition: top 0.4s ease 0s;
  }

  .navbar.open {
    top: 0;
  }

  .navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    opacity: 0.6;
  }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #4ec3cd;
  }

  .navbar-inverse .navbar-toggle {
    border-color: transparent;
  }

  .logo img {
    height: 32px;
    margin-top: 6px;
  }

  .headerlogo{
    max-width: 400px;
    margin: 0 auto;
  }



/* ==========================================================================
   Main styles
   ========================================================================== */
   header {
    background: url(../img/headerbg.jpg) no-repeat center center;
    width: 100%;
    padding: 20px 10px 60px 10px;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .header-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0px;
    margin-bottom: 14%;
  }

  .signin {
    padding-top: 9px;
  }


  .mouse-icon {
    border: 2px solid #fff;
    border-radius: 16px;
    display: block;
    height: 50px;
    margin: -100px auto 50px;
    position: relative;
    width: 30px;
    z-index: 10;
  }
  .mouse-icon .scroll {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: scrolling;
    animation-play-state: running;
    animation-timing-function: linear;
  }
  .mouse-icon .scroll {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 4px;
    width: 4px;
  }
  @keyframes scrolling {
    0% {
      opacity: 0;
      top: 5px;
    }
    30% {
      opacity: 1;
      top: 10px;
    }
    100% {
      opacity: 0;
      top: 25px;
    }
  }

  .pad-xl {
   padding: 200px 0px;
 }

 .pad-lg {
   padding: 160px 0px;
 }

 .pad-sm {
   padding: 80px 0px;
 }

 .pad-xs {
   padding: 30px 0px;
 }



 #feature {
  background: url(../img/feature2.jpg) #231f20 no-repeat center center fixed;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr.line {
	width: 100%;
	border: 2px solid;
}

.purple {
	border-color: #6d3f96;
	color: #6d3f96;
}

.blue {
	border-color: #70cbce;
	color: #70cbce
}

.yellow {
	border-color: #fdc05d;
	color: #fdc05d;
}

.report {
  position: relative;
  height: 480px;
}

.report img {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 480px;
  -webkit-box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.75);
}

.report ol{
  color: white;
  font-size: 18px;

}

#invite, #security, .modal-body, .modal-header, .modal-footer {
  background: #f2f2f2;
}

.modal-content{
 -webkit-border-radius: 10px;
 border-radius: 10px;
}

.modal-header{
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-footer{
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fa-envelope-o {
  /*color: #4ec3cd;*/
  color: #55CCFC;
  font-size: 22px;
  display: block;
  padding-top: 15px;
  width: 60px;
  height: 60px;
  /*border: 2px solid #4ec3cd;*/
  border: 2px solid #55CCFC;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin: auto;
}

.report-lists li{
  display:table;
  margin: 0 auto;
}

footer {
  background: #ffffff;
  padding: 8px 0px;
  padding-top: 16px;
}

.social li a:hover {
  opacity: 0.5;
}

#how, #where {
  background: #55ccfc;
}

#faq{
  background: #FAFAFA;
}

.panel-default>.panel-heading {
  background-color: #fff !important;
  border-color: #fff !important;
  cursor: pointer;
  color: #55ccfc !important;
}

.panel-title a, .panel-title a:hover, .panel-title a:active, .panel-title a:visited{
 color: #55ccfc !important;
 font-size:20px;
}

.panel-group .panel {
  border: 0 !important;
}

.panel-body {
  font-size: 16px;
  border-top: none !important;
}

.modal-header {
  border-bottom: 0;
}

.modal-footer{
  border-top: 0;
}

.dropzone .dz-message {
  color: #929496;
  font-size: 15px;
  margin: 2.5em 0 !important;
}

.dropzone {
 border: 2px dotted #55CCFC !important;
 border-radius: 4px;
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}



/* ==========================================================================
   Form styles
   ========================================================================== */
   .form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #929496;
    display: block;
    font-size: 15px;
    height: 60px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }

  .form-control::-moz-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
  }

  .form-control::-webkit-placeholder, .form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
  }

  .form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
  }




/* ==========================================================================
   Mobile styles
   ========================================================================== */
   /* Landscape phones and down */
   @media (max-width: 480px) { 

    .btn-lg {
      font-size: 12.5px;
      line-height: 1.33;
      padding: 16px 13px;
      letter-spacing: 0px;
    }


  .headerlogo{
    max-width: 300px;
    margin: 0 auto;
  }



    .btn-wide {
      width: 100%;
      font-size: 12.5px;
      line-height: 1.33;
      padding: 16px 13px;
      letter-spacing: 0px;
    }

    #feature { 
      background-attachment: scroll;
    }

    .logo{
      margin-left:8px;
    }

    .header-info {
      margin-bottom: 50%;
    }


    .pad-xl, .pad-lg, .pad-md, .pad-sm{
      padding: 15px 0px;
    }

    .row{
      padding: 0px 6px;
    }

    #where{
     padding: 300px 0 15px 0; 
   }

 }

 @media (min-width: 420px) and (max-width: 480px) { 
   #where{
     padding: 380px 0 15px 0; 
   }
 }


 /* Landscape phone to portrait tablet */
 @media (min-width: 481px) and (max-width: 767px) { 

  #feature { 
    background-attachment: scroll;
  }

  .pad-xl, .pad-lg, .pad-md, .pad-sm{
    padding: 15px 0px;
  }

  .row{
    padding: 0px 30px;
  }

  #where{
   padding: 460px 0 15px 0; 
 }

 .logo{
  margin-left:8px;
}

}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

  #feature { 
    background-attachment: scroll;
  }

  #where{
   padding-top: 400px; 
 }

}



/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

}



/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}   





